<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<html>
  <body>
    <div class="header"><a id="headerImage" href="home.html"><%= image_tag "header.png" %></a></div>
    <br/>
    <br/>
    <div class="text">
      <p>Maize is a tool for visualizing development of public projects of all sizes that use GitHub.  If you are anyone from a small scale developer, commiting to one or a few repositories or a large development organization, tracking development among a large number of repos and developers, Maize is right for you!<br /><br />If you want to view commits for an individual repository, click on repo!  Want to see your or someone else's commits to a number of repositories, choose user!  Want to compare two repos, choose compare!  Or if your trying to track a large number of repositories under one organization, choose organization!</p>
    </div>
    <div class="button_group">
 	    <div class="buttons"><a id="displayRepo" href="repo"><%= image_tag "repo.png" %></a></div>
      <div class="buttons"><a id="displayUser" href="user"><%= image_tag "user.png" %></a></div>
	    <div class="buttons"><a id="displayOrg" href="org"><%= image_tag "org.png" %></a></div>
      <div class="buttons"><a id="displayCompare" href="compare"><%= image_tag "compare.png" %></a></div>
    </div>
  </body>
</html> 